body {
   overflow-x: hidden;
   background-color: #c5cdd3!important;
   padding-top: 10px;
 }

/*body page index*/
#debut {
  background-color: whitesmoke!important;
  color: slateGray!important;
 padding-top: 10px;
}

/* navbar css */
#custom-bootstrap-menu.navbar-default .navbar-brand {
    color: rgba(255, 224, 224, 1);
    padding-top: 30px;
}
#custom-bootstrap-menu.navbar-default {
    font-size: 26px;
    background-color: rgba(112, 128, 144, 1);
    border-width: 0px;
    border-radius: 50px;
}
#custom-bootstrap-menu.navbar-default .navbar-nav>li>a {
    color: rgba(251, 250, 255, 1);
    background-color: rgba(112, 128, 144, 1);
}
#custom-bootstrap-menu.navbar-default .navbar-nav>li>a:hover,
#custom-bootstrap-menu.navbar-default .navbar-nav>li>a:focus {
    color: rgba(247, 247, 247, 1);
    background-color: rgba(145, 173, 201, 1);
}
#custom-bootstrap-menu.navbar-default .navbar-nav>.active>a,
#custom-bootstrap-menu.navbar-default .navbar-nav>.active>a:hover,
#custom-bootstrap-menu.navbar-default .navbar-nav>.active>a:focus {
    color: rgba(20, 19, 19, 1);
    background-color: rgba(255, 255, 255, 1);
}
#custom-bootstrap-menu.navbar-default .navbar-toggle {
    border-color: #ffffff;
}
#custom-bootstrap-menu.navbar-default .navbar-toggle:hover,
#custom-bootstrap-menu.navbar-default .navbar-toggle:focus {
    background-color: #ffffff;
}
#custom-bootstrap-menu.navbar-default .navbar-toggle .icon-bar {
    background-color: #ffffff;
}
#custom-bootstrap-menu.navbar-default .navbar-toggle:hover .icon-bar,
#custom-bootstrap-menu.navbar-default .navbar-toggle:focus .icon-bar {
    background-color: #708090;
}

/* navbar css fin*/

.jumbotron {
  background-color: slategray!important;
  color : whitesmoke!important;
  font-family: sans-serif;
  padding-left: 20%;
}

/*button page index*/
.btn-circle.btn-xl {
  width: auto;
  height: auto;
  padding: 10px 16px;
  font-size: 24px;
  line-height: 1.33;
  border-radius: 75px;
  background-color: SlateGray!important;
  color: white;
}

#btnSliders:hover,#btnPoints:hover  {
background-color: #91adc9!important;
  }

/*division vertical pas fini*/
.row.vertical-divider {
  overflow: hidden;
}
.row.vertical-divider > div[class^="col-"] {
  text-align: center;
  padding-bottom: 100px;
  margin-bottom: -100px;
  border-left: 3px solid #black!important;
  border-right: 3px solid #black!important;
}


#box {
width: 800px;
height: 600px;
}

#myDefaultFont {
  color: red!important;
}

#bottom {
  background-color: #596673!important;
  object-position: center;
  opacity: 1;
}

#equationGraph {
 padding: 10px;
  font-size: 26px;
 font-style: italic;
 font-family: sans-serif;
 align-items: center;
}

#boxTextEqu{
  border-radius: 20px;
  padding: 10px;
 background-color: whitesmoke!important;
}


.jxbox2 {
  position: relative;
      overflow: auto;
      background-color: whitesmoke!important;
      border-style: solid;
      border-width: 1px;
      border-color: #356AA0;
      border-radius: 10px;
      -webkit-border-radius: 10px;
      -ms-touch-action: none;
}

#clavier-virtuel{
	margin-top: 30px;
	text-align: center;
}

.clavierbutton {
  -webkit-border-radius: 0;
-moz-border-radius: 0;
border-radius: 0px;
font-family: Courier New;
color: #ffffff;
font-size: 20px;
background: #3498db;
padding: 10px 18px 10px 20px;
text-decoration: none;
width: 13%;
}

.clavierbutton:hover {
  background: #4c84a6;
  text-decoration: none;
}

.text-left{
	margin-top: 60px;
}

.btn.btn-square {
  border-radius: 0!important;
  margin-top: 5px;
  width: 20%;
  font-size: 18px;
}

#btnrnd {
	background-color: #3071a9;
  color: white;
}
#input {
  width: 60%;
}

#label {
  font-size: 18px;
}

#saisie {
  width: 600px;
  margin-left: auto;
  margin-right: auto;
}


#box_jxgBoard1L40{
	stroke-width: 10px;
	background: #ffffff;
}

}
#jxgbox_jxgBoard1P36{
	stroke= #ffffff;

}

#box_jxgBoard1L47{
	stroke-width: 10px;
	background: #3071a9;
}


/*style css pour les siders : voir https://css-tricks.com/styling-cross-browser-compatible-range-inputs-css/ */

input[type=range] {
  -webkit-appearance: none;
  margin: 30px 40px;
  width: 80%;
}
input[type=range]:focus {
  outline: none;
}
input[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  height: 8.4px;
  cursor: pointer;
  animate: 0.2s;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  background: #3071a9;
  border-radius: 1.3px;
  border: 0.2px solid #010101;
}
input[type=range]::-webkit-slider-thumb {
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  border: 1px solid #000000;
  height: 36px;
  width: 16px;
  border-radius: 3px;
  background: #ffffff;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -14px;
}
input[type=range]:focus::-webkit-slider-runnable-track {
  background: #367ebd;
}
input[type=range]::-moz-range-track {
  width: 100%;
  height: 8.4px;
  cursor: pointer;
  animate: 0.2s;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  background: #3071a9;
  border-radius: 1.3px;
  border: 0.2px solid #010101;
}
input[type=range]::-moz-range-thumb {
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  border: 1px solid #000000;
  height: 36px;
  width: 16px;
  border-radius: 3px;
  background: #ffffff;
  cursor: pointer;
}
input[type=range]::-ms-track {
  width: 100%;
  height: 8.4px;
  cursor: pointer;
  animate: 0.2s;
  background: transparent;
  border-color: transparent;
  border-width: 16px 0;
  color: transparent;
}
input[type=range]::-ms-fill-lower {
  background: #2a6495;
  border: 0.2px solid #010101;
  border-radius: 2.6px;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
}
input[type=range]::-ms-fill-upper {
  background: #3071a9;
  border: 0.2px solid #010101;
  border-radius: 2.6px;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
}
input[type=range]::-ms-thumb {
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  border: 1px solid #000000;
  height: 36px;
  width: 16px;
  border-radius: 3px;
  background: #ffffff;
  cursor: pointer;
}
input[type=range]:focus::-ms-fill-lower {
  background: #3071a9;
}
input[type=range]:focus::-ms-fill-upper {
  background: #367ebd;
}
.mytext {
    width: 160px;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 66px;
    padding: 18px 0;
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    margin-left: -60px;
}
.mytext::after{
	content: "";
    position: absolute;
    left: 100%;
    
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
}

